@import url('fonts.css');
@import url('paginate.css');
@import url('datepicker.css');
@import url('custom.css');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  cursor: default;
}
:focus,
.form-control:focus,
input:focus {
  outline: none !important;
  border-color: none !important;
  box-shadow: none !important;
}
button,
button:hover,
a,
a:focus,
a:active,
a:hover {
  /* cursor: url("../images/partner/pointer.svg"), pointer !important; */
  cursor: pointer;
  outline: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: Saira-Medium;
}

p {
  font-family: Saira-Regular;
}

a,
a:hover {
  text-decoration: none !important;
}

/* all margin */
.mr0 {
  margin: 0px !important;
}
.mr10 {
  margin: 10px !important;
}
.mr20 {
  margin: 20px !important;
}
.mr30 {
  margin: 30px !important;
}
.mr40 {
  margin: 40px !important;
}
.mr50 {
  margin: 50px !important;
}
.mr60 {
  margin: 60px !important;
}
.mr70 {
  margin: 70px !important;
}
.mr80 {
  margin: 80px !important;
}
.mr90 {
  margin: 90px !important;
}
.mr100 {
  margin: 100px !important;
}

/* margin top */
.mr-t0 {
  margin-top: 0px !important;
}
.mr-t10 {
  margin-top: 10px !important;
}
.mr-t20 {
  margin-top: 20px !important;
}
.mr-t30 {
  margin-top: 30px !important;
}
.mr-t40 {
  margin-top: 40px !important;
}
.mr-t50 {
  margin-top: 50px !important;
}
.mr-t60 {
  margin-top: 60px !important;
}
.mr-t70 {
  margin-top: 70px !important;
}
.mr-t80 {
  margin-top: 80px !important;
}
.mr-t90 {
  margin-top: 90px !important;
}
.mr-t100 {
  margin-top: 100px !important;
}

/* margin right */
.mr-r0 {
  margin-right: 0px !important;
}
.mr-r10 {
  margin-right: 10px !important;
}
.mr-r20 {
  margin-right: 20px !important;
}
.mr-r30 {
  margin-right: 30px !important;
}
.mr-r40 {
  margin-right: 40px !important;
}
.mr-r50 {
  margin-right: 50px !important;
}
.mr-r60 {
  margin-right: 60px !important;
}
.mr-r70 {
  margin-right: 70px !important;
}
.mr-r80 {
  margin-right: 80px !important;
}
.mr-r90 {
  margin-right: 90px !important;
}
.mr-r100 {
  margin-right: 100px !important;
}

/* margin bottom */
.mr-b0 {
  margin-bottom: 0px !important;
}
.mr-b10 {
  margin-bottom: 10px !important;
}
.mr-b20 {
  margin-bottom: 20px !important;
}
.mr-b30 {
  margin-bottom: 30px !important;
}
.mr-b40 {
  margin-bottom: 40px !important;
}
.mr-b50 {
  margin-bottom: 50px !important;
}
.mr-b60 {
  margin-bottom: 60px !important;
}
.mr-b70 {
  margin-bottom: 70px !important;
}
.mr-b80 {
  margin-bottom: 80px !important;
}
.mr-b90 {
  margin-bottom: 90px !important;
}
.mr-b100 {
  margin-bottom: 100px !important;
}

/* margin left */
.mr-l0 {
  margin-left: 0px !important;
}
.mr-l10 {
  margin-left: 10px !important;
}
.mr-l20 {
  margin-left: 20px !important;
}
.mr-l30 {
  margin-left: 30px !important;
}
.mr-l40 {
  margin-left: 40px !important;
}
.mr-l50 {
  margin-left: 50px !important;
}
.mr-l60 {
  margin-left: 60px !important;
}
.mr-l70 {
  margin-left: 70px !important;
}
.mr-l80 {
  margin-left: 80px !important;
}
.mr-l90 {
  margin-left: 90px !important;
}
.mr-l100 {
  margin-left: 100px !important;
}

/* padding  */
.pd0 {
  padding: 0px !important;
}
.pd10 {
  padding: 10px !important;
}
.pd20 {
  padding: 20px !important;
}
.pd30 {
  padding: 30px !important;
}
.pd40 {
  padding: 40px !important;
}
.pd50 {
  padding: 50px !important;
}
.pd60 {
  padding: 60px !important;
}
.pd70 {
  padding: 70px !important;
}
.pd80 {
  padding: 80px !important;
}
.pd90 {
  padding: 90px !important;
}
.pd100 {
  padding: 100px !important;
}

/* padding top */
.pd-t0 {
  padding-top: 0px !important;
}
.pd-t10 {
  padding-top: 10px !important;
}
.pd-t20 {
  padding-top: 20px !important;
}
.pd-t30 {
  padding-top: 30px !important;
}
.pd-t40 {
  padding-top: 40px !important;
}
.pd-t50 {
  padding-top: 50px !important;
}
.pd-t60 {
  padding-top: 60px !important;
}
.pd-t70 {
  padding-top: 70px !important;
}
.pd-t80 {
  padding-top: 80px !important;
}
.pd-t90 {
  padding-top: 90px !important;
}
.pd-t100 {
  padding-top: 100px !important;
}

/* padding right */
.pd-r0 {
  padding-right: 0px !important;
}
.pd-r10 {
  padding-right: 10px !important;
}
.pd-r20 {
  padding-right: 20px !important;
}
.pd-r30 {
  padding-right: 30px !important;
}
.pd-r40 {
  padding-right: 40px !important;
}
.pd-r50 {
  padding-right: 50px !important;
}
.pd-r60 {
  padding-right: 60px !important;
}
.pd-r70 {
  padding-right: 70px !important;
}
.pd-r80 {
  padding-right: 80px !important;
}
.pd-r90 {
  padding-right: 90px !important;
}
.pd-r100 {
  padding-right: 100px !important;
}
.pd-r170 {
  padding-right: 170px !important;
}

/* padding bottom */
.pd-b0 {
  padding-bottom: 0px !important;
}
.pd-b10 {
  padding-bottom: 10px !important;
}
.pd-b20 {
  padding-bottom: 20px !important;
}
.pd-b30 {
  padding-bottom: 30px !important;
}
.pd-b40 {
  padding-bottom: 40px !important;
}
.pd-b50 {
  padding-bottom: 50px !important;
}
.pd-b60 {
  padding-bottom: 60px !important;
}
.pd-b70 {
  padding-bottom: 70px !important;
}
.pd-b80 {
  padding-bottom: 80px !important;
}
.pd-b90 {
  padding-bottom: 90px !important;
}
.pd-b100 {
  padding-bottom: 100px !important;
}

/* padding left */
.pd-l0 {
  padding-left: 0px !important;
}
.pd-l10 {
  padding-left: 10px !important;
}
.pd-l20 {
  padding-left: 20px !important;
}
.pd-l30 {
  padding-left: 30px !important;
}
.pd-l40 {
  padding-left: 40px !important;
}
.pd-l50 {
  padding-left: 50px !important;
}
.pd-l60 {
  padding-left: 60px !important;
}
.pd-l70 {
  padding-left: 70px !important;
}
.pd-l80 {
  padding-left: 80px !important;
}
.pd-l90 {
  padding-left: 90px !important;
}
.pd-l100 {
  padding-left: 100px !important;
}

.info-btn {
  background: #000000;
  border-radius: 6px;
  border: 1px solid #000000;
  min-height: 40px;
  color: #ffffff;
  font-size: 14px;
  font-family: Saira-Medium;
  transition: 0.3s;
}
.danger-btn {
  background: transparent;
  border-radius: 6px;
  border: 1px solid #000000;
  min-height: 40px;
  color: #000000;
  font-size: 14px;
  font-family: Saira-Medium;
  transition: 0.3s;
}
.cancel-btn {
  background: transparent;
  border-radius: 4px;
  border: 2px solid #000000;
  min-height: 34px;
  color: #000000;
  font-size: 16px;
  font-family: Saira-Medium;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-width: 144px;
}
.black-btn {
  background: #000000;
  border-radius: 6px;
  border: 1px solid #000000;
  min-height: 40px;
  color: #ffffff;
  font-size: 14px;
  font-family: Saira-Medium;
  transition: 0.3s;
}
.black-btn:hover {
  background: transparent;
  border: 1px solid #000000;
  transition: 0.3s;
  color: #000000;
}
.gray-btn {
  cursor: pointer;
  background: gray;
  border-radius: 6px;
  border: 1px solid gray;
  min-height: 40px;
  color: #ffffff;
  font-size: 14px;
  font-family: Saira-Medium;
  transition: 0.3s;
  padding: 0.5rem 3rem;
}
.orange-trans-btn {
  background: transparent;
  border-radius: 6px;
  border: 2px solid #c89521;
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 34px;
  color: #c89521;
  font-size: 16px;
  font-family: Saira-Medium;
  transition: 0.3s;
  min-width: 144px;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
/* =================================== Login page css =========================== */
.login-main-wrap {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: rgba(255, 217, 132, 0.8);
  min-height: 100vh;
}
.login-img-wrap {
  flex: 1;
  background: url('../images/login-bg.jpg') no-repeat center;
  background-size: cover;
  position: relative;
}
.login-img-wrap::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 217, 132, 0.2);
  left: 0;
  top: 0;
}
.login-form-wrap {
  flex: 0 0 517px;
  max-width: 517px;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ani-lable {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  margin: 0px;
  transition: 0.3s;
  pointer-events: none;
  font-size: 14px;
  color: #7e7e7e;
  font-family: Saira-Regular;
}
.ani-lable.active-lable {
  top: -1px;
  transition: 0.3s;
  font-size: 13px;
}
@media (max-width: 767px) {
  .ani-lable.active-lable {
    font-size: 13px;
  }
}
.cus-input-box {
  position: relative;
}
.cus-input-box .form-control {
  border: 0px;
  border-bottom: 2px solid #9d9fa1;
  border-radius: 0px;
  padding: 5px 0px;
  font-size: 18px;
  color: #000000;
  font-family: Saira-Medium;
}
.login-form-wrap form {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  text-align: center;
}
.form-title h4 {
  font-size: 30px;
  color: #030f09;
  font-family: Saira-SemiBold;
}
.form-title span {
  font-size: 14px;
  color: #767676;
  font-family: Saira-Regular;
}

/* ============================= Dashboard Page CSS Start ======================== */
.dashboard-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow-y: scroll; */
  background-color: #e5e5e5;
  box-sizing: border-box;
}
.sidebar-col {
  max-width: 230px;
  flex: 0 0 230px;
  background: #ffffff;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}
.side-nav-list ul {
  margin: 0px;
}
.side-nav-list ul li {
  list-style: none;
}
.side-nav-list ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #c7c7c7;
  font-family: Saira-Medium;
  margin-bottom: 20px;
  min-height: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 10px;
}
.side-nav-list ul li a:hover,
.side-nav-list ul li a.active-nav {
  background: #ffebb5;
  color: #000000;
  font-family: Saira-Medium;
}
.side-nav-list ul li a:hover svg path,
.side-nav-list ul li a.active-nav svg path {
  stroke: #000000;
}
.nav-icon {
  margin-right: 15px;
  font-size: 1.4rem;
}
.dashboard-right-col {
  padding-left: 230px;
  display: flex;
  flex-direction: column;
}
.dashboard-header {
  position: fixed;
  width: 100%;
  padding-left: 230px;
  left: 0;
  top: 0;
  z-index: 999;
}
.inn-header {
  background: #ffffff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  min-height: 80px;
  padding: 19px 30px;
}
.head-title h2 {
  font-size: 30px;
  color: #404040;
  font-family: Saira-SemiBold;
}
.signout-btn {
  padding: 0px;
  border: 0px;
  background: transparent;
  line-height: 0px;
}
.signout-btn:hover svg path {
  fill: #f3c54b;
}
.routing-body {
  padding: 100px 30px 30px;
  flex: 1;
  overflow-y: auto;
  position: relative;
}
.routing-body::-webkit-scrollbar {
  width: 5px;
  background-color: #a3a3a3;
}
.routing-body::-webkit-scrollbar-thumb {
  background-color: #f3c54b;
  border-radius: 10px;
}
.white-box {
  background: #ffffff;
  border: 0.5px solid #eaeaea;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06);
  border-radius: 19px;
}
.page-title {
  font-size: 18px;
  color: #735d23;
  font-family: Saira-Regular;
}
.cus-blank-table table {
  width: 100%;
}
.cus-blank-table table thead th {
  font-size: 14px;
  color: #888888;
  font-family: Saira-Medium;
  font-weight: normal;
  border-bottom: 0.5px solid #ececec;
  padding: 8px 10px 15px;
}
.cus-blank-table table tbody td {
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #333333;
  font-family: Saira-Regular;
  border-bottom: 0.5px solid #ececec;
  padding: 10px 10px;
  /* break white space */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /*Chrome & Safari */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* CSS3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}
label.cus-check {
  margin: 0px;
  position: relative;
  padding-left: 26px;
}
label.cus-check input {
  display: none;
}
label.cus-check span {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #efefef;
  border-radius: 6px;
  position: absolute;
  left: 0;
}
label.cus-check input:checked ~ span {
  background: #f3c54b;
}
label.cus-check input:checked ~ span::after {
  content: 'L';
  position: absolute;
  right: 0;
  top: -1px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #ffffff;
  transform: rotate(42deg) scaleX(-1);
  font-family: Saira-SemiBold;
}
.cus-color-table thead {
  background-color: #ffe295;
}
.cus-color-table tbody tr {
  background-color: #ffffff;
}
.cus-color-table thead th {
  font-size: 14px;
  font-family: Saira-Regular;
  font-weight: normal;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
}
.cus-color-table tbody tr td {
  font-size: 14px;
  color: #333333;
  font-family: Saira-Regular;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  word-break: break-all;
}

.status-btn {
  pointer-events: none;
  width: 95px;
  height: 24px;
  border-radius: 4px;
  font-size: 12px;
  color: #ffffff;
}
.status-orange {
  background-color: #fb8832;
  border: 1px solid #fb8832;
}
/* .status-orange:hover {
  background-color: transparent;
  color: #fb8832;
} */
.status-yellow {
  background-color: #dc934a;
  border: 1px solid #dc934a;
}
/* .status-yellow:hover {
  background-color: transparent;
  color: #dc934a;
} */
.status-green {
  background-color: #4aaf05;
  border: 1px solid #4aaf05;
}
/* .status-green:hover {
  background-color: transparent;
  color: #4aaf05;
} */
.action-btn button {
  background-color: transparent;
  border: 0px;
  margin-right: 10px;
}
.action-btn button:last-child {
  margin-right: 0px;
}
.action-btn button:hover svg path {
  fill: #000000;
}
.modal-wrap {
  position: relative;
}
.modal-backdrop {
  display: none;
}
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.5);
  /* position: absolute; */
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
body.modal-open .routing-body {
  overflow: hidden;
}
.modal-design .modal-body {
  padding: 20px 40px;
}
@media (min-width: 768px) {
  .modal-dialog.modal640 {
    max-width: 640px;
  }
}
.modal-head h5 {
  font-size: 18px;
  color: #404040;
  text-align: center;
  font-family: Saira-SemiBold;
}
.modal-head .modal-close {
  position: absolute;
  right: 20px;
  top: 18px;
}
.modal-close:hover svg path {
  fill: #000000;
}
.cus-gray-input label {
  margin-bottom: 0px;
  font-size: 14px;
  color: #676767;
  font-family: Saira-Medium;
}
.cus-gray-input .form-control {
  background: #f8f8f8;
  border: 0.5px solid #cacaca;
  box-sizing: border-box;
  min-height: 33px;
}
.cus-gray-input .form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
  cursor: not-allowed;
}
.modal-content {
  border: 0px !important;
  border-radius: 0px !important;
}
/* .mx-width {
  width: 300px;
} */
.page-link {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 14px;
  color: #000000;
  font-family: Saira-Regular;
  padding: 0px;
  margin: 0px 2px;
}
.pagination li:first-child a.page-link {
  width: auto;
  background-color: transparent;
}
.pagination li:last-child a.page-link {
  width: auto;
  background-color: transparent;
}

.page-item.active .page-link {
  background-color: #ffe295;
  border: 0px;
  color: #000000;
}
.page-link:focus {
  box-shadow: none;
}
.mobile-lable {
  display: none;
}
.line-mr-t20 {
  margin-top: 20px;
}
table thead th,
table tbody td {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100% !important;
  max-width: 400px; */
}
table tbody td a {
  color: #e3a920;
}
table tbody td a:hover {
  color: #e3a920;
}
#toggle-menu {
  display: none;
}
.menu-back-btn {
  display: none;
}

@media (max-width: 991px) {
  .login-form-wrap {
    max-width: 347px;
    flex: 0 0 347px;
  }
  .form-group.custom-inputs {
    margin-bottom: 20px;
  }
  .line-mr-t20 {
    margin-top: 0px;
  }
  .sidebar-col {
    transform: translateX(-102%);
    transition: all 0.2s linear 0s;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    z-index: 9999;
  }
  .sidebar-col.slide-menu {
    transform: translateX(0);
    transition: all 0.2s linear 0s;
  }
  .dashboard-header {
    padding-left: 0px;
  }
  .dashboard-right-col {
    padding-left: 0px;
  }
  table thead th,
  table tbody td {
    font-size: 12px !important;
    padding: 5px;
    /* white-space: nowrap;
    overflow: hidden;*/

    /* text-overflow: ellipsis;
   max-width: 100% !important; */
  }
  .inn-header {
    padding: 10px 15px;
    min-height: 50px;
  }
  .head-title h2 {
    font-size: 16px;
  }
  .signout-btn svg {
    width: 14px;
  }
  .routing-body {
    padding: 70px 15px 15px;
  }
  .white-box {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  #toggle-menu {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin-right: 5px;
    display: block;
  }
  .head-title {
    display: flex;
    align-items: center;
  }
  .sidebar-col {
    max-width: 210px;
    flex: 0 0 210px;
    padding: 30px 10px;
  }
  .walsad {
    margin-bottom: 30px;
  }
  .menu-overlay {
    background-color: rgba(0, 0, 0, 0.06);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9998;
  }
  .menu-back-btn {
    background-color: transparent;
    padding: 0px;
    border: 0px;
  }
  .menu-back-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    display: block;
  }
}

@media (max-width: 767px) {
  .cus-color-table tbody tr td {
    border: 0px;
    border-bottom: 1px solid #e5e5e5;
  }
  .cus-color-table table thead th,
  .cus-color-table table tbody td {
    width: 100%;
  }
  .table-box {
    display: block;
  }
  .cus-color-table table thead {
    display: none;
  }
  .table-box tbody {
    display: block;
    width: 100%;
  }
  .cus-color-table table tbody tr {
    display: flex !important;
    flex-direction: column;
    border: 1px solid #cacaca;
    width: 100% !important;
    margin-bottom: 15px;
    border-radius: 3px;
  }
  .table-box tbody tr:last-child {
    margin-bottom: 0px;
  }
  .mobile-lable {
    display: block;
    margin-bottom: 2px;
    color: #f3c54b;
    font-size: 12px;
  }

  .cus-blank-table table thead th,
  .cus-blank-table table tbody td {
    width: 100% !important;
    max-width: 100% !important;
  }
  .cus-blank-table table thead th,
  .cus-blank-table table tbody td {
    width: 100%;
  }
  .cus-blank-table table thead {
    display: none;
  }
  .cus-blank-table table tbody tr {
    display: flex !important;
    flex-direction: column;
    border: 1px solid #cacaca;
    width: 100% !important;
    margin-bottom: 15px;
    border-radius: 3px;
  }

  .orange-trans-btn {
    min-width: 104px;
  }
  .cancel-btn {
    min-width: 104px;
  }
  .login-form-wrap {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .login-main-wrap {
    background: #ffffff;
  }
  .login-img-wrap {
    display: none;
  }
}

.map-link {
  cursor: pointer;
  color: #e3a920;
  font-family: Saira-Regular;
  font-size: 12px;
}

.link {
  cursor: pointer;
  font-family: Saira-Regular;
}
.link:hover {
  color: #e3a920;
}
